body {
    font-family: Arial, Verdana, sans-serif;
    overflow: hidden;
}

sub {
    font-size: 80%;
    font-style: italic;
    vertical-align: -15%;
}

#title_text {
    font-size: 200%;
    font-family: serif;
}


/*Movable Panes and their default styling.
*/
div.content_pane {
    border-radius: 12px;
    padding: 10px;
    background: rgba(153,162,172,.8);
}

div.content_pane p {
    padding-bottom: .4em;
}

div.content_pane ul {
    list-style: disc inside;
}
div.content_pane li {
    padding-left: 2em;
    text-indent: -1em;
    padding-bottom: .2em;
}

#control_pane {
    position: absolute;
    width: 200px;
    top: 40px; right: 40px;
}
#hz_slide {
    display: inline-block;
    width: 70%;
}

/* Help Pane specifics, Pure CSS tabs.
*/
#help_pane {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    word-wrap: break-word;
}

ul.tab_menu {
    width: 20px;
    float: left;
    display: block;
    text-align: center;
    margin-top: 30px;
}
ul.tab_menu a {
    text-decoration: none;
    font-variant: small-caps;
    color: #eee;
}

ul.tab_menu li {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 16px 4px;
    background: rgba(181,189,200,.8);
    -webkit-transition: all .25s ease;
}
ul.tab_menu li.open {
    // margin-right: -8px;
    // margin-left: -2px;
    // padding-right: 12px;
    background: rgba(68,79,87,.8);
    margin-top: -2px; margin-bottom: 2px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .6);
    // border-right: 6px solid #EEE;
    -webkit-transition: all .25s ease;
}

ul.tab_menu li:hover {
    background: rgba(125,133,144,.8);
    margin-top: -2px; margin-bottom: 2px;
    margin-left: -4px; margin-right: 4px;
    box-shadow:2px 2px 8px rgba(0,0,0,.6);
    -webkit-transition: all .25s ease;
}
ul.tab_menu li.open:hover {
    background: rgba(68,79,87,.8);
    margin-left: 0px; margin-right: 0px;
    margin-top: -2px; margin-bottom: 2px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .6);
}

div.tab_container {
    float: right;
    width: 255px;
    min-height: 350px;
    display: block;
    padding-left: 15px;
}
div.tab_content {
    display: none;
}

/*PLAYING AROUND WITH PURE-CSS BUTTONS
*/
div.button_set {
    display: inline-block;
    height: 1.2em;
}
div.button_set a {
    padding: .4em;
    border-radius: .2em;
    background: #c0d0f0;
    font-weight: bold;
    color: #333;
    border: solid 1px #7088bb;
}
div.button_set a:hover, div.button_set a:focus {
    color:#111111;
    background: #a0b0f0;
    border: solid 1px #666666;
}

div.button_set a:active {
    background: #808BC2;
    border: solid 1px #4050A0;
}

/*DEBUG PANE
This should be entirely temporary.
*/
#debug_pane {
    position: absolute;
    top: 70%; right: 20px;
    width: 300px;
    display: none;
}
/*
Example interaction with the debug pane:
    $("#debug_pane p span:eq(0)").text "This wll get rendered"
*/

/*Playing around with (mostly) pure CSS tabs.
  Like most of this project, a lot of this code was---if not directly
  lifted---based heavily on work done by someone else (who then
  graciously opened that up for me to pick apart). In this case, it's
  Soh Tanaka.
  http://www.sohtanaka.com/web-design/simple-tabs-w-css-jquery/
*/