/*GENERAL STYLES
-----*/
body {
    font-family: Arial, Verdana, sans-serif;
    overflow: hidden;
}

sub {
    font-size: 80%;
    font-style: italic;
    vertical-align: -15%;
}

/*MOVABLE PANES
-----*/
$content_bg_color: rgba(68,79,87,.8);
$text_color: rgb(0,0,0);

div.content_pane {
    border-radius: 12px;
    padding: 10px;
    background: $content_bg_color;

    p {
        padding-bottom: .4em;
    }

    strong {
        font-weight: bold;
    }

    a {
        color: $text_color;
        font-variant: small-caps;
        // text-decoration: none;
    }

    ul {
        list-style: none inside;
    }
    li {
        padding-left: 2em;
        // text-indent: -1em;
        padding-bottom: .2em;

    }
}

/*CONTROL PANE
-----*/
#control_pane {
    position: absolute;
    width: 200px;
    top: 40px; right: 40px;
}
//This damn slider...
#hz_slide {
    display: inline-block;
    width: 70%;
    margin-right: .4em;
}

div.button_set { //Pure CSS buttons.
    display: inline-block;
    height: 1.2em;

    a {
        padding: .4em;
        border-radius: .2em;
        background: #c0d0f0;
        font-weight: bold;
        color: #333;
        border: solid 1px #7088bb;
    }
    a:hover {
        color:#111111;
        background: #a0b0f0;
        border: solid 1px #666666;
    }
    a:active { //I don't think I'm actually using this...
        background: #808BC2;
        border: solid 1px #4050A0;
    }
}


/*HELP PANE
-----*/
#help_pane {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    word-wrap: break-word;
}

// Pure CSS tabs
// Based on Soh Tanaka's CSS tabs.
// http://www.sohtanaka.com/web-design/simple-tabs-w-css-jquery/
$tab_open_color: rgba(68,79,87,.8);
$tab_hover_color: rgba(125,133,144,.8);
$tab_idle_color: rgba(181,189,200,.8);

@mixin open_tab_base {
    background: $tab_open_color;
    margin-top: -2px; margin-bottom: 2px;
    // box-shadow: -2px 1px 4px rgba(0, 0, 0, .6);
}
ul.tab_menu {
    width: 20px;
    float: left;
    display: block;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;

    a { //Tab menu text style
        text-decoration: none;
        font-variant: small-caps;
        color: #eee;
    }

    li { //Tab style
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        padding: 16px 4px;
        background: lighten($tab_open_color, 30%);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, .6);
        -webkit-transition: all .25s ease;
    }
    li:hover {
        background: lighten($tab_open_color, 15%);
        margin-top: -2px; margin-bottom: 2px;
        margin-left: -4px; margin-right: 4px;
        box-shadow:0px 0px 8px rgba(0,0,0,.6);
        -webkit-transition: all .25s ease;
    }
    li.open {
        @include open_tab_base;
        -webkit-transition: all .25s ease;
    }
    li.open:hover { //Here to make sure open tabs don't hover
        @include open_tab_base;
        margin-left: 0px; margin-right: 0px;
    }
}

div.tab_container { //Tab Content style
    float: right;
    width: 255px;
    min-height: 350px;
    display: block;
    padding-left: 15px;
}
div.tab_content { //Hiding all tab content so JQuery can come in and
                  //reveal only what we want to see.
    display: none;
}


/*FOOTER
-----*/
//Yeah. I totally lifted this straight from Xueqiao Xu. That's how
//much I love it.
footer {
    color: #333;
    font-size: 70%;
    text-align: center;
    position: absolute;
    width: 200px;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
}


/*DEBUG PANE
-----*/
//This should be entirely temporary.
#debug_pane {
    position: absolute;
    top: 70%; right: 20px;
    width: 300px;
    display: none;
}
// Example interaction with the debug pane:
//    $("#debug_pane p span:eq(0)").text "This wll get rendered"
