sub {
    font-size: 80%;
    vertical-align: -20%;
}

p {
    margin-bottom: .5em;
}

li {
    
}

#title_text {
    font-size: 200%;
}

.movable_pane {
    position: absolute;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /*cursor: default;*/
}

#help_pane {
    width: 150;
    height: 150;
}