body {
    font-family: sans-serif;
    /*overflow: hidden;*/
}



sub {
    font-size: 80%;
    font-style: italic;
    vertical-align: -15%;
}

#title_text {
    font-size: 200%;
    font-family: serif;
}


/*Movable Panes and their default styling.
*/
div.movable_pane {
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(230, 230, 230, 0.8);
    border: 1px solid #ccc;
    color: #555;
}

div.movable_pane p { padding-bottom: .4em; }

div.movable_pane ul {
    /*list-style: disc inside;*/
}
div.movable_pane li {
    list-style: disc inside;
    padding-left: 2em;
    text-indent: -1em;
    padding-bottom: .2em;
}

#help_pane {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    word-wrap: break-word;
}

#timer_pane {
    position: absolute;
    width: 200px;
    top: 100%; left: 50%;
    margin-left: -100px; margin-top: -6em;
    -webkit-user-select: none;
}

/*Playing around with (mostly) pure CSS tabs
  Huh. I guess these aren't goint to be anything more than buttons
  unless I'm willing to tear up the .moving_pane class some.
*/
ul.tab_menu {
    float:left;
    height: 2em;
    /*border-bottom: 1px solid #ccc;*/
    /*border-left: 1px solid #ccc;*/
    width: 100%;
}
ul.tab_menu li {
    list-style: none;
    float: left;
    /*height: 31px;*/
    line-height: 2em;
    /*border: 1px solid #ccc;*/
    position: relative;
    text-indent: 0;
    padding: 0;
    background-color: rgba(200, 200, 200, 0.8);
}
ul.tab_menu li.active, ul.tab_menu li.active a:hover {
    background-color: rgba(230, 230, 230, 0.8);
    border-bottom: rgba(230, 230, 230, 0.8);
}
ul.tab_menu li a {
    display: block;
    text-decoration: none;
    color: #555;
    padding: 0px 20px;
    /*background-color: rgba(180, 180, 180, 0.8);*/
}
ul.tab_menu li a:hover {
    background-color: rgba(0, 230, 0, 0.8);
}

div.tab_content {
    display: none;
}
/*PLAYING AROUND WITH PURE-CSS BUTTONS
*/
div.button_set {
    display: inline-block;
    height: 1.2em;
}
div.button_set span {
    padding: .4em;
    border-radius: .2em;
    background: #c0d0f0;
    font-weight: bold;
    color: #333;
    border: solid 1px #7088bb;
}
div.button_set span:hover, div.button_set span:focus {
    color:#111111;
    background: #a0b0f0;
    border: solid 1px #666666;
}

div.button_set span:active {
    background: #808BC2;
    border: solid 1px #4050A0;
}

/*DEBUG PANE
This should be entirely temporary.
*/
#debug_pane {
    position: absolute;
    top: 20px; right: 20px;
    width: 300px;
}
/*
Example interaction with the debug pane:
    $("#debug_pane p span:eq(0)").text "This wll get rendered"
*/