body {
    font-family: sans-serif;
    /*overflow: hidden;*/
}

sub {
    font-size: 80%;
    vertical-align: -15%;
}

p {
    padding-bottom: .4em;
}

.movable_pane {
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
    display: none;
}

#help_pane {
    top: 20px;
    left: 20px;
    width: 450px;
}

#title_text {
    font-size: 200%;
    font-family: serif;
}
